.card {
    &__title {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 21px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 22px;
        margin-top: 162px;

        &--more {
            margin-bottom: 23px;
            margin-top: 160px;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        position: relative;
        font-family: Arial;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        margin-bottom: 15px;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -8px;
            width: 169px;
            height: 1px;
            background-color: #CDCDCD;
        }

        &:last-child {
            margin-bottom: 43px;
        }
    }

    &--more {
        background-color: #FFFFFF;
        border: 2px solid #F2F2F2;
        box-sizing: border-box;
        text-align: center;
    }

    &__text {
        font-family: Arial;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        margin: 0;
        margin-bottom: 87px;
    }
}


