@import "variables.scss";

.catalog {
  &__wrapper {
    padding-left: 110px;
    padding-right: 110px;
    margin-bottom: 70px;

    @media(max-width:$mobile-width) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__title {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 165px;

    @media(max-width:$mobile-width) {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 50px;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 144px;
    margin: 0;
    padding: 0;

    @media(max-width:$mobile-width) {
      gap: 20px;
      justify-content: center;
      margin: 0 auto;
      
    }
  }

  &__item {
    position: relative;
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    max-width: 245px;
    padding: 0 30px 40px 35px;
    box-sizing: border-box;

    @media(max-width:$mobile-width) {
      background-color: transparent;
      min-width: 320px;
      padding: 12px 0;
    }

    &:first-child::before {
      content: url(/images/catalog-1.png);
      position: absolute;
      top: -75px;
      left: 40px;

      @media(max-width:$mobile-width) {
        transform: scale(0.5);
        top:-30px;
        left: -15px;
      }
    }

    &:nth-child(2)::before {
      content: url(/images/catalog-2.png);
      position: absolute;
      top: -75px;
      left: 40px;
      @media(max-width:$mobile-width) {
        transform: scale(0.45);
        top:-30px;
        left: -15px;
      }
    }

    &:nth-child(3)::before {
      content: url(/images/catalog-3.png);
      position: absolute;
      top: -75px;
      left: 40px;
      @media(max-width:$mobile-width) {
        transform: scale(0.5);
        top:-30px;
        left: -15px;
      }
    }

    &:nth-child(4)::before {
      content: url(/images/catalog-4.png);
      position: absolute;
      top: -75px;
      left: 40px;
      @media(max-width:$mobile-width) {
        transform: scale(0.45);
        top:-30px;
        left: -15px;
      }
    }

    &:nth-child(5)::before {
      content: url(/images/catalog-5.png);
      position: absolute;
      top: -75px;
      left: 40px;
      @media(max-width:$mobile-width) {
        transform: scale(0.5);
        top:-30px;
        left: -15px;
      }
    }

    &:nth-child(6)::before {
      content: url(/images/catalog-6.png);
      position: absolute;
      top: -75px;
      left: 40px;
      @media(max-width:$mobile-width) {
        transform: scale(0.45);
        top:-30px;
        left: -15px;
      }
    }

    &:nth-child(7)::before {
      content: url(/images/catalog-7.png);
      position: absolute;
      top: -75px;
      left: 40px;
      @media(max-width:$mobile-width) {
        transform: scale(0.5);
        top:-30px;
        left: -15px;
      }
    }
  }

  &__button {
    width: 168px;
    min-height: 40px;
    align-self: center;
    @media(max-width:$mobile-width) {
      display: block;
      width: 90%;
      
    }

  }
}