.form {
    &__wrapper {
        padding-left: 110px;
        padding-right: 110px;
        margin-bottom: 70px;
    }

    &__title {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 56px;
    }

    &__text {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 66px;
    }

    &__container {
        display: grid;
        grid-template-columns: 570px 1fr;
        column-gap: 80px;
        margin-bottom: 70px;
    }



    &__program-filter {
        border: 1px solid #E7E7E7;
        padding: 30px 0 29px 28px;
    }



    &__subtile {
        position: relative;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        padding: 0 40px;
        background-color: #FFFFFF;
        width: 182px;
        margin-bottom: 76px;


        &::before {
            position: absolute;
            content: " ";
            width: 1440px;
            height: 2px;
            background-color: #68B738;
            top: 23px;
            z-index: -1;
            left: -110px;
        }
    }

    &__textarea {
        width: 1220px;
        min-height: 174px;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        color: #444444;
        padding: 10px 19px;
        margin-bottom: 147px;
        border-color: #E7E7E7;
    }

    &__button {
        width: 568px;
        min-height: 52px;
    }
}