@import "variables.scss";

.hero {
    &__wrapper {
        padding: 114px 110px 185px 110px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        min-height: 500px;
        margin-bottom: 82px;

        @media(max-width:$tablet-width) {
            padding: 50px 30px 50px 30px;
            display: flex;
            justify-content: space-between;
        }

        @media(max-width:$mobile-width) {
            padding: 27px 20px 80px;
            display: block;
        }

        &::after {
            content: "";
            position: absolute;
            top: -141px;
            right: 0;
            width: 720px;
            height: 100%;
            background-image: url("/images/background-desktop-1.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            z-index: 0;


            @media(max-width:$tablet-width) {
                display: none;
            }

            @media(max-width:$mobile-width) {
                display: none;
                // content: "";
                // position: absolute;
                // top: 0;
                // left: 0px;
                // background-image: url("/images/background-mobile.png");
                // background-repeat: no-repeat;
                // background-position: center;
                // z-index: -2;
            }

        }

        &::before {
            content: "";
            position: absolute;
            top: -141px;
            right: 0;
            width: 720px;
            height: 100%;
            background-color: rgba(104, 183, 56, 0.85);
            z-index: 1;



            @media(max-width:$tablet-width) {
                display: none;
            }

            @media(max-width:$mobile-width) {
                display: none;
                // content: "";
                // position: absolute;
                // top: 0;
                // left: 0;
                // height: 100%;
                // background-color: rgba(104, 183, 56, 0.85);
                // z-index: -1;
            }

        }
    }

    &__title {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 60px;
        line-height: 60px;
        margin: 0;
        margin-bottom: 40px;
        margin-left: 80px;

        @media (max-width:$tablet-width) {}

        @media(max-width:$mobile-width) {
            margin: 0;
            margin-bottom: 20px;
            font-size: 36px;
            line-height: 36px;
            text-align: center;
            color: #f0d4d4;
        }
    }

    &__text {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 52px;
        margin-left: 80px;

        @media(max-width:$mobile-width) {
            margin: 0;
            margin-bottom: 280px;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color: #f0d4d4;
        }
    }

    &__button {
        width: 244px;
        margin-left: 80px;
        min-height: 54px;

        @media(max-width:$mobile-width) {
            display: block;
            margin: 0 auto;
        }
    }

    &__image {
        position: relative;
    }

    &__picture {
        position: absolute;
        right: 600px;
        transform: translate(50%, 15%);
        z-index: 2;

        @media(max-width:$mobile-width) {
            position: static;
            transform:translate(-20%) scale(0.5);
            margin-top: -430px;
        }
    }
}