@use "algorithm.scss";
@use "button.scss";
@use "catalog.scss";
@use "example.scss";
@use "fonts.scss";
@use "footer.scss";
@use "form.scss";
@use "header.scss";
@use "hero.scss";
@use "programs.scss";
@use "slider.scss";
@use "card.scss";
@use "comment.scss";
@use "item.scss";
@use "program-filter.scss";
@use "variables.scss";
@import "variables";

body {

    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1440px;
     @media(max-width:$tablet-width) {
            background-color: #E5E5E5;
        }

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
//  * { outline: 1px solid red}